<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>все книжки</title>
</head>
<body>
<div layout:fragment="content">
    <h1>Все книги</h1>
    <div class="row">
        <div class="col">
            <a href="add-book.html"
               class="btn btn-secondary"
               role="button"
               style="float: right"
               aria-disabled="true">Добавить книжку
            </a>
        </div>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Название</th>
            <th scope="col">Жанр</th>
            <th scope="col">Место хранения</th>
            <th scope="col">Кол-во</th>
            <th scope="col">Дата публикации</th>
        </tr>
        </thead>
        <tr th:each="book : ${books}">
            <td th:text="${book.getBookTitle()}"></td>
            <td th:text="${book.getGenre().getGenreTextDisplay()}"></td>
            <td th:text="${book.getStoragePlace()}"></td>
            <td th:classappend="${book.getAmount() <=0} ? 'not-enough-book'"
                th:text="${book.getAmount()} <=0 ? 'Нет в наличии' : ${book.getAmount()}"></td>
            <td th:text="${book.getPublishDate()}"></td>
        </tr>
    </table>
</div>

</body>
</html>