<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Книги</title>
    <style>
        .not-enough-books {
            color:red
        }
    </style>
</head>
<body>
<div layout:fragment="content">
    <div>
        <hr class="hr">
        <h3>Поиск книги</h3>
        <form method="post" th:action="@{/books/search}" th:object="${bookSearchForm}">
         <div class="mt-0 row g-2">
             <div class="col-md">
                 <div class="form-floating">
                     <label for="bookTitle">Название книги</label>
                     <input type="text" name="bookTitle" id="bookTitle" class="form-control" placeholder="введите название">
                 </div>
             </div>
             <div class="col-md">
                 <div class="form-floating">
                     <label for="bookTitle">Имя автора</label>
                     <input type="text" name="authorName" id="authorName" class="form-control" placeholder="введите автора">
                 </div>
             </div>
             <div class="col-md">
                 <div class="form-floating">
                     <label for="bookTitle">Жанр</label>
                     <select type="text" name="genre" id="genre" class="form-control">
                     <option selected th:value="null">Выберите жанр</option>
                         <option th:each="genre : ${T(com/aptproject/springlibraryproject/library/model/Genre).value()}"
                                 th:value="${genre}" th:text="${genre.getGenreTextDisplay()}"></option>
                     </select>
                 </div>
             </div>
         </div>
        </form>
    </div>
    <div class ="mt-5">
        <div class="row">
            <div class="col">
                <h2>Все книги библиотеки</h2>
            </div>
            <div class="col">
                <a sec:authorize="isAuthenticated() && (hasRole('ADMIN') || hasRole('LIBRARIAN'))"
                   th:href="@{/books/add}"
                   class="btn btn-secondary"
                   role="button"
                   style="float: right"
                   aria-disabled="true">Добавить книгу
                </a>
            </div>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Название</th>
                <th scope="col">Жанр</th>
                <th scope="col">Количество страниц</th>
                <th scope="col">Место хранения</th>
                <th scope="col">Количество</th>
                <th scope="col">Дата публикации</th>
                <th scope="col">Автор(ы)</th>
                <th scope="col">Онлайн копия</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tr th:each="book : ${books}">
                <td th:text="${book.getBookTitle()}"></td>
                <td th:text="${book.getGenre().getGenreTextDisplay()}"></td>
                <td th:text="${book.getStoragePlace()}"></td>
                <td th:classappend="${book.getAmount() <= 0} ? 'not-enough-book'"
                    th:text="${book.getAmount()} <=0 ? 'Нет в наличии' : ${book.getAmount()}"></td>
                <td th:text="${book.getPublishDate()}"></td>
                <td>
                    <ul>
                        <li th:each="author : ${book.getAuthorInfo()}" th:text="${author.getAuthorName()}"></li>
                    </ul>
                </td>
            </tr>
        </table>
    </div>
    <div>
        <nav aria-label="Pagination" th:if="${books.totalPages gt 0}">
            <ul class="pagination justify-content-center font-weight-bold">
                <li class="page-item" th:classappend="${books.number eq 0} ? 'disabled'">
                    <a class="page-link"
                       th:href="@{/books?page={id}(id=${books.number lt 2 ? 1 : books.number})}"
                       aria-label="Previous" title="Previous Page" data-toggle="tooltip">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item" th:classappend="${i eq books.number + 1} ? 'active'"
                    th:each="i : ${#numbers.sequence( 1, books.totalPages, 1)}">
                    <a class="page-link" th:href="@{/books?page={id}(id=${i})}" th:text="${i}"
                       th:title="${'Page '+ i}" data-toggle="tooltip"></a>
                </li>
                <li class="page-item" th:classappend="${books.number eq books.totalPages - 1} ? 'disabled'">
                    <a class="page-link"
                       th:href="@{/books?page={id}(id=${books.number + 2})}"
                       aria-label="Next" title="Next Page" data-toggle="tooltip">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
</body>
</html>