<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://wwww.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Добавить автора</title>
</head>
<body>
<div layout:fragment="content">
    <h3 class="mt-3 mb-3">Добавить автоа</h3>

    <form style="max-width: 50vh;" method="post" th:action="@{/authors/add}" th:object="${authorForm}">

        <div class="mb-3">
            <label class="form-label" for="fio">
                ФИО
            </label>
            <input type="text" name="authorName" class="form-control" id="fio">
        </div>

        <div class="mb-3">
            <label class="form-label" for="birthdate">
                Дата ождения
            </label>
            <input type="date" name="birthDate" class="form-control" id="birthdate">
        </div>

        <div class="mb-3">
            <label class="form-label" for="description">
                Описание
            </label>
            <input type="text" name="description" class="form-control" id="description">
        </div>


        <button type="submit" class="btn btn-primary">
            Добавить
        </button>
        <button type="button" class="btn btn-primary" onclick="window.history.back()">
            Назад
        </button>

    </form>
</div>

</body>
</html>