.not-enough-book {
    color: red;
}

.nav-link {
    color: whitesmoke !important;
}

.btn-primary {
    color: white !important;
    background-color: #b84f3c !important;
    border-color: #b84f3c !important;
}

.btn-primary:hover {
    background-color: #b84f3c !important;
    border-color: #b84f3c !important;
    color: white !important;
}

.text-link {
    text-decoration: none;
}

.text-link:hover {
    color: #001445;
}


    footer {
        position: fixed;
        bottom: 0;
        width: 100%;
    }
    .container {
        margin-bottom: 50px;
    }
    .btn-primary {
        color: black;
        background-color: #ffffff;
        border-color: transparent;
    }
    .btn-primary:hover {
        color: white;
        background-color: #fdbdba;
        border-color: white;
    }

    .contact-form {
        display: flex;
        flex-direction: column;
        padding: 2vw 4vw;
        width: 90%;
        max-width: 600px;
        border-radius: 10px;
        border: 1px;
        border: solid;
        border-color: lightgrey;
    }

    .contact-form h3 {
        color: #555;
        font-weight: 800;
        margin-bottom: 20px;
        text-align: center;
    }

    .contact-form input, .contact-form textarea {
        border: 0;
        margin: 10px 0;
        padding: 20px;
        outline: none;
        font-size: 16px;
        background: gainsboro;
    }

    .contact-form button {
        padding: 15px;
        background: limegreen;
        color: #FFFFFF;
        font-size: 18px;
        border: 0;
        outline: none;
        cursor: pointer;
        width: 300px;
        margin: 20px auto 0;
        border-radius: 30px;
    }

    .contact-container {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    }

    .container {
        max-width: 1400px; !important;
    }